hr{
    color:rgb(247, 1, 1);
    border:thin solid;
    size:0.1em;
    line-height: 2cm;
    
}

aside{
    float:right;
    
}

header{
    text-align:left;
    margin: auto;
}

h2{
    text-align: center;
}

h3{
    text-align: left;
}